@model Person

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="display-6">
    Apply
</div>

<form method="post" asp-action="apply">
    <div class="form-group my-2">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group my-2">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-check my-2">
        <input asp-for="HasProject" class="form-check-input">
        <label class="form-check-label" asp-for="HasProject">
            Does he/she have a project ?
        </label>
    </div>

    @* radio button (expire) *@
 
    @* text aria comment*@

    @* date time *@

    @* select box  (select list)*@

    <div>
        <button class="btn btn-primary" type="submit">Apply</button>
        <a class="btn btn-warning" href="/">Home</a>
    </div>
</form>